<p>
  <strong>Image data:</strong><br />
  <img src="<%= @photo.image_url(:medium) %>" alt="<%= @photo.description %>" width="200">
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
