<!DOCTYPE html>
<html>
  <head>
    <title>Instarails with Shrine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="text-right p-2">
      <nav>
        <%= link_to('Home', root_path) %> |
        <% if user_signed_in? %>
          <%= link_to('Photos', photos_path) %> |
          <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Sign In', new_user_session_path) %> |
          <%= link_to('Register', new_user_registration_path) %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
